    <h3>Choose goals for <%= @user.name %></h3>
        <%= form_for @user do |f| %>
            <%= f.collection_check_boxes :activity_ids, Activity.all, :id, :name %><br/>
            <h3>And/or add more</h3>
            <%=f.fields_for :activities, Activity.new do |activity_builder|%>
                <%= activity_builder.label :name %>
                <%= activity_builder.text_field :name %><br/>
                <%= activity_builder.label :points %>
                <%= activity_builder.text_field :points %><br/>  
            <% end %><br/>
            <!--input type ="text" name="user[activities_attributes][name]"--></br>
            <%= f.submit "Save Goals"%><br/><br/>
        <% end %>
