<h1>Create New Activity</h1>

<%= form_for @activity do |f| %>
<table>
    <tr><th><%= f.label :name %></th> <td><%= f.text_field :name %></td></tr>
    <tr><th><%= f.label :points %></th> <td><%= f.password_field :points%></td></tr>
    <tr><td></td><td><%= f.submit %></td></tr>
</table>
<%end%>