<h2>Create New Activity</h2>
<p class="flash_error"><%= flash[:alert]  if flash[:alert] %></p>


<%= form_for @activity do |f| %>

<table>
    <tr><th><%= f.label :name %></th> <td><%= f.text_field :name %></td></tr>
    <tr><th><%= f.label :points %></th> <td><%= f.text_field :points%></td></tr>    
    <tr><td></td><td><%= f.submit %></td></tr>
</table>
<%end%>
<%#= render "form", activity: @activity %>
<h2>List of all Activities</h2>
<%= render "activity_list", activities: @activities%>
 
