<!DOCTYPE html>
<html>
  <head>
    <title>ActivityRewardsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
        <li class="navbar"><%= link_to "Home", root_path %></li>
        <li class="navbar">
            <%= link_to_unless(logged_in?, "Sign Up", signup_path) do 
                link_to(current_user.name + "'s profile" , current_user)
             end %>
        </li>
        <li class="navbar">
            <%= link_to_unless(logged_in?, "Log In", login_path) do
                link_to("Log Out", logout_path) 
             end %>

        </li>
    </ul>
    <%= yield %>
  </body>
</html>
